In [2]:
import numpy as np
import xgboost
from sklearn import cross_validation
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, GridSearchCV
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
df = pd.read_csv("FinalDataSet")

In [6]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
df.head()

,Time taken,Distance,producttype_T1,producttype_T148,producttype_T172,producttype_T196,producttype_T2,producttype_T21400,producttype_T3,producttype_T4,producttype_null
0,8,210.203675,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,4,210.203675,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1,10.119614,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,210.203675,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,6,147.821979,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [8]:
y = df.pop('Time taken')
X = df

In [9]:
y = np.array(y)
X = np.array(X)

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [47]:
model = xgboost.XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='multi:softprob', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [49]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [51]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

##Simply predicting the highest occuring value is 191126/424989 = 44.97% accuracy

Accuracy: 53.96%

In [66]:
df.head()

,Time taken,Distance,producttype_T1,producttype_T148,producttype_T172,producttype_T196,producttype_T2,producttype_T21400,producttype_T3,producttype_T4,producttype_null
0,8,210.203675,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,4,210.203675,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1,10.119614,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,210.203675,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,6,147.821979,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [17]:
model2 = xgboost.XGBClassifier(n_estimators=140)
model2_params = {
    'max_depth': [3, 5],
    'min_child_weight': [1, 3]
    
}

In [19]:
grid = GridSearchCV(model2, model2_params)
grid

GridSearchCV(cv=None, error_score='raise',
       estimator=XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=140, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'max_depth': [3, 5], 'min_child_weight': [1, 3]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [20]:
%timeit
grid.fit(X_train, y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=140, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'max_depth': [3, 5], 'min_child_weight': [1, 3]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [21]:
grid.grid_scores_, grid.best_params_, grid.best_score_

/usr/local/lib/python2.7/dist-packages/sklearn/model_selection/_search.py:662: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

([mean: 0.53877, std: 0.00086, params: {'max_depth': 3, 'min_child_weight': 1},
  mean: 0.53942, std: 0.00107, params: {'max_depth': 3, 'min_child_weight': 3},
  mean: 0.54728, std: 0.00172, params: {'max_depth': 5, 'min_child_weight': 1},
  mean: 0.54682, std: 0.00178, params: {'max_depth': 5, 'min_child_weight': 3}],
 {'max_depth': 5, 'min_child_weight': 1},
 0.54727919268451219)

In [22]:
y_pred = grid.predict(X_test)
predictions = [round(value) for value in y_pred]

In [23]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 54.84%

In [ ]:
#Lot more hyperparameter tuning possible